

#h1 {
    background-color:antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
    padding-top: 7px ;
    display: block;
    font-family: sans-serif;
}

#h2 {
    background-color: antiquewhite;
}

#img {
    width: 30px;
}

#myimg {
    width: 150px;
    border-radius: 20px;
}

.container { 
    padding-top: 10px;
}

.body-content {
    padding-left: 10%;
    padding-right: 10%;
}

.box_content {   
    background-color: white;
    width: 100%;
    padding: 5% 3%;
    padding-right: 3%;
    box-shadow:  0 0px 5px 0px rgba(0, 0, 0, 125);
    border-radius: 2px;
    align-content: center;
    margin-bottom: 10px;         
     
}

.box_content h2 {
    background-color: antiquewhite;
}

.box_side {   
    background-color: white;
    padding: 5% 3%;
    padding-right: 3%;
    box-shadow:  0 -0px 5px 0px rgba(0, 0, 0, 125);
    align-content: center;
    margin-bottom: 10px;
    border-radius: 2px;         
}

.table th {
   text-align: center;
}

.about {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    font-family: sans-serif;
    text-align: center;
    padding-top: 13px;
    font-size: small;
}